@font-face {
  font-family: "Lexend";
  src: url("../../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Mako";
  src: url("../../assets/fonts/Mako/Mako-Regular.ttf") format("truetype");
}
