.ingredients-overview {
  $root: &;

  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;

  &--invisible {
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  &__empty-message {
    display: none;

    @at-root #{$root}__list:empty + & {
      display: inline;
    }
  }
}
