@use "./../utils.scss" as utils;

.ingredient-button {
  $base: &;

  display: block;

  &--static {
    pointer-events: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(
        to bottom right,
        rgba(138, 176, 220, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      #f6fafc;
    appearance: none;
    border: none;
    font-family: Lexend;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.25rem;
    color: #343a4b;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }

    @at-root #{$base}--active & {
      background: linear-gradient(
          to bottom right,
          rgba(227, 218, 9, 0.2) 0%,
          rgba(255, 255, 255, 0.2) 100%
        ),
        #21a94f;
      color: #e3f1e6;

      &:hover {
        background: linear-gradient(
            to bottom right,
            rgba(53, 9, 227, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 100%
          ),
          #a93121;
      }
    }

    @at-root #{$base}--active#{$base}--static & {
      background: white;
      border: solid 1px #21a94f;
      color: #21a94f;
    }
  }

  &__text {
    @at-root #{$base}__button:hover & {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 12px;
    height: auto;

    & path {
      d: path(
        "M59 11.5C59 6.80558 55.1944 3 50.5 3C45.8056 3 42 6.80558 42 11.5V41H12.5C7.80558 41 4 44.8056 4 49.5C4 54.1944 7.80558 58 12.5 58H42V86.5C42 91.1944 45.8056 95 50.5 95C55.1944 95 59 91.1944 59 86.5V58H87.5C92.1944 58 96 54.1944 96 49.5C96 44.8056 92.1944 41 87.5 41H59V11.5Z"
      );

      @at-root #{$base}--active & {
        d: path(
          "M93.7307 8.32995C97.6912 10.8503 98.8587 16.104 96.3384 20.0645L49.6116 93.4923L6.68807 64.0073C2.81862 61.3493 1.83654 56.0578 4.49454 52.1883C7.15254 48.3189 12.4441 47.3368 16.3135 49.9948L44.723 69.5098L81.9962 10.9376C84.5165 6.97713 89.7702 5.80963 93.7307 8.32995Z"
        );
      }

      @at-root #{$base}--active#{$base}--static & {
        d: path(
          "M56.1976 61.8871C52.4955 62.2166 49.2869 61.2457 46.5717 58.9744C45.4481 58.0046 44.5319 56.8853 43.8232 55.6164C42.0332 52.4114 44.6383 48.9747 47.676 46.9135C49.5039 45.6732 51.045 44.193 52.2993 42.4728C54.7502 39.2086 55.8311 35.9522 55.542 32.7034C55.3335 30.3613 54.503 28.3029 53.0505 26.5284C51.598 24.7539 49.2474 24.0113 45.9986 24.3004C43.3543 24.5358 40.8318 25.7122 38.4311 27.8296C36.8624 29.2537 35.5487 31.4002 34.4899 34.2694C33.5105 36.9234 31.0323 39.0973 28.375 38.127C26.8489 37.5698 25.5572 36.7209 24.4999 35.5805C22.4782 33.3997 21.3328 30.7983 21.0638 27.7762C20.7747 24.5274 21.4677 21.1912 23.1429 17.7676C24.8937 14.3373 27.7149 11.3829 31.6064 8.90425C35.5668 6.34338 40.6447 4.78724 46.84 4.23583C54.2442 3.57683 60.2482 4.29894 64.8522 6.40216C69.5317 8.49866 73.0285 11.4239 75.3425 15.1778C77.7321 18.9249 79.1152 22.914 79.4918 27.145C79.9154 31.9048 79.5499 36.3541 78.3953 40.4929C77.3094 44.5494 75.6099 48.1274 73.2966 51.2271C71.0589 54.32 68.4619 56.7976 65.5054 58.6599C62.549 60.5222 59.4463 61.598 56.1976 61.8871ZM48.223 95.4942C44.7475 95.8035 41.7379 94.9291 39.194 92.871C36.719 90.7306 35.3335 87.9982 35.0377 84.6739C34.809 82.1051 35.2428 79.7058 36.3389 77.4761C37.4283 75.1707 38.9702 73.2439 40.9646 71.6957C43.0346 70.1407 45.3918 69.2456 48.0361 69.0102C51.5115 68.7009 54.4868 69.6164 56.9618 71.7568C59.5057 73.8149 60.9255 76.5062 61.2214 79.8305C61.4433 82.3237 61.0096 84.723 59.9202 87.0284C58.8308 89.3337 57.2511 91.2639 55.1811 92.8188C53.1867 94.3671 50.8673 95.2588 48.223 95.4942Z"
        );
      }

      @at-root #{$base}--active #{$base}__button:hover & {
        d: path(
          "M7.48959 6.48959C10.809 3.17014 16.191 3.17014 19.5104 6.48959L50.5 37.4792L81.4896 6.48959C84.8091 3.17014 90.1909 3.17014 93.5104 6.48959C96.8299 9.80905 96.8299 15.191 93.5104 18.5104L62.5208 49.5L93.5104 80.4896C96.8299 83.8091 96.8299 89.1909 93.5104 92.5104C90.1909 95.8299 84.8091 95.8299 81.4896 92.5104L50.5 61.5208L19.5104 92.5104C16.191 95.8299 10.809 95.8299 7.48959 92.5104C4.17014 89.1909 4.17014 83.8091 7.48959 80.4896L38.4792 49.5L7.48959 18.5104C4.17014 15.191 4.17014 9.80905 7.48959 6.48959Z"
        );
      }
    }
  }
}
