.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  padding: 1rem 1.25rem;
  background: linear-gradient(
      to bottom right,
      rgba(227, 9, 88, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #213fa9;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  font-family: Lexend;
  font-size: 1.125rem;
  font-weight: 500;

  &:disabled {
    pointer-events: none;
    background: #d8d8d8;
    color: #b2b2b2;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(
        to bottom right,
        rgba(227, 9, 88, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      #6382f4;
  }
}
